* {
  scroll-behavior: smooth;
}

#title {
  text-align: center;
}
img {
  display: block;
}

#image {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

body {
  background-color: rgb(56, 33, 33);
  color: white;
  font-family: Tahoma;
  font-size: 16px;
  text-align: center;
  width: 94%vw;
  margin: 20px auto;
  max-width: 550px;
}

ul {
  display: inline-block;
  text-align: left;
}

#tribute-link {
  cursor: pointer;
  color: black;
}